<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  The meta dap ung-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo BootStrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        img {
            height: 120px;
            width: 150px;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <!--    <div>-->
    <!--        <h2>-->
    <!--            <marquee scrollamount="15">WELCOME TO HOME PAGE!</marquee>-->
    <!--        </h2>-->
    <!--    </div>-->
    <div class="Menu" role="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/songs}">Home page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Create</a></li>
                                <li><a class="dropdown-item" href="#">Update</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" th:action="@{/songs/findByName}" method="get">
                        <input class="form-control me-2" type="text" name="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="11" style="text-align: center; font-size: xx-large">LIST SONG</th>
            </tr>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price($)</th>
                <th scope="col">Description</th>
                <th scope="col">Singer</th>
                <th scope="col">Album</th>
                <th scope="col">Avatar</th>
                <th scope="col">File Mp3</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s,sStat: ${songs}" >
                <td th:text="${sStat.index + 1}" ></td>
                <td scope="row" th:text="${s.id}"></td>
                <td scope="row" th:text="${s.name}"></td>
                <td scope="row" th:text="${s.price}"></td>
                <td scope="row" th:text="${s.description}"></td>
                <td scope="row" >
                    <span th:each="si : ${s.singer}" th:text="${si.name}"></span>
                </td>
                <td scope="row" >
                    <span th:each="a : ${s.album}" th:text="${a.name}"></span>
                </td>
                <td>
                    <img style="height: 70px; width: 70px" th:src="@{'/i/' + ${s.avatarPath}}">
                </td>
                <td><audio controls>
                    <source th:src="@{'/media/' + ${s.songPath}}">
                </audio>
                </td>
                <td><a th:href="@{/songs/update/{id}(id=${s.id})}">
                    <button class="btn btn-primary">Update</button>
                </a></td>
                <td><a th:href="@{/songs/delete/{id}(id=${s.id})}">
                    <button class="btn btn-danger">Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
        <!--        Page Sorting-->
        <div style="text-align: center">
            <a th:if="${songs.hasPrevious()}" th:href="@{'/songs'(page=${songs.number - 1})}">Previous</a>
            <span th:text="${songs.number + 1}"></span>/<span th:text="${songs.totalPages}"></span>
            <a th:if="${songs.hasNext()}" th:href="@{'/songs'(page=${songs.number + 1})}">Next</a>
        </div>
        <div class="buttonCreate">
            <a th:href="@{/songs/create}">
                <button class="btn btn-success">Create new Song</button>
            </a>
        </div>
    </div>
    <div class="footer">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
